@import "config";

.ayurvedic-description {
  max-width: 1280px;
  width: 75%;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__picture {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: $mainTransitionDuration;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      @include mainHoverLinkStyle;
    }
  }
  &__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
  }
}

@media screen and (max-width: $tabletScreenResolution) {
  .ayurvedic-description {
    margin-top: 150px;
    width: 92%;
    &__picture {
      width: 220px;
    }
  }
}

@media screen and (max-width: $mobileScreenResolution) {
  .ayurvedic-description {
    margin-top: 0;
    flex-direction: column;
    &__picture {
      margin-bottom: 50px;
    }
  }
}
