@import "config";

.choosegift {
  margin-top: 200px;
  @include mainConfigSection;
  justify-content: space-between;
  &__left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 530px;
  }
  &__line {
    width: 100%;
    height: 1px;
    background: rgba(52, 79, 16, 0.5);
  }
  &__text {
    margin-top: 100px;
    font-size: 16px;
    line-height: 150%;
    color: $mainTextColor;
    margin-left: 150px;
  }
  &__right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 630px;
  }
  &__article {
    margin-top: 100px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $mainArticleColor;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: $tabletScreenResolution) {
  .choosegift {
    justify-content: center;
    margin-top: 100px;
    &__left-block,
    &__line {
      display: none;
    }
    &__right-block {
      width: 280px;
      text-align: center;
      align-items: center;
    }
    &__article {
      margin-top: 0;
      font-size: 18px;
      & br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $mobileScreenResolution) {
  .choosegift {
    margin-top: 60px;
    &__article {
      text-align: justify;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.03em;
      margin-bottom: 60px;
      & br {
        display: none;
      }
    }
  }
}
