@import "config";

.contact-us {
  margin-top: 250px;
  position: relative;
  @include mainConfigSection;
  justify-content: space-between;
  overflow: hidden;
  &__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-start;
    margin-left: 150px;
  }
  &__decoration {
    position: absolute;
    height: 20px;
    margin-top: 130px;
    transform: rotate(-90deg) translateY(-20px) translateX(-180px);
  }
  &__article {
    font-size: 36px;
    line-height: 150%;
    text-transform: capitalize;
    color: $mainArticleColor;
    margin-bottom: 20px;
  }
  &__text {
    width: 370px;
    color: $mainTextColor;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 150%;
  }
  &__input {
    width: 90%;
    height: 28px;
    background: rgb(228, 223, 211);
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    border: none;
    outline: none;
    text-transform: capitalize;
    border-bottom: 1px solid #bdbdbd;
    margin-top: 5px;
    padding: 5px 0;
    color: $mainTextColor;
    &:focus {
      border-bottom: 1px solid $mainTextColor;
    }
  }
  &__item {
    margin-bottom: 15px;
  }
  &__textarea {
    margin-top: 30px;
  }
  &__button {
    margin-top: 40px;
    position: relative;
    width: 280px;
    height: 60px;
    background: $mainButtoncolor;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f2f2f2;
    transition: $mainTransitionDuration;
    border: 1px solid $mainButtoncolor;
    &:hover {
      background: rgb(228, 223, 211);
      color: $mainButtoncolor;
      @include mainHoverLinkStyle;
    }
  }
  &__img {
    max-height: 554px;
    max-width: 550px;
    transform: translateX(5%);
  }
}

@media screen and (max-width: $tabletScreenResolution) {
  .contact-us {
    width: 90%;
    overflow: visible;
    margin-top: 150px;
    &__decoration {
      display: none;
    }
    &__form {
      margin-left: 0;
    }
    &__img {
      max-width: 368px;
    }
    &__article {
      font-size: 24px;
      margin-bottom: 12px;
    }
    &__text {
      width: 342px;
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__item {
      margin-bottom: 5px;
    }
    &__input {
      margin-top: 0;
      font-size: 14px;
    }
    &__textarea {
      margin-top: 25px;
    }
    &__button {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: $mobileScreenResolution) {
  .contact-us {
    margin-top: 10px;
    width: 90%;
    &__img {
      display: none;
    }
    &__text {
      width: 100%;
    }
    &__input {
      width: 100%;
    }
  }
}
