@import "config";

.payments {
  &__options {
    margin-top: 80px;
    font-size: 20px;
    line-height: 150%;
    color: $mainTextColor;
  }
  &__picture {
    margin-top: 66px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  &__credit-card,
  &__delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__delivery-text {
    width: 140px;
    text-align: center;
  }
  &__credit-card-img,
  &__delivery-img {
    cursor: pointer;
  }
  &__credit-card-text,
  &__delivery-text {
    margin-top: 20px;
    font-size: 20px;
    line-height: 150%;
    color: $mainTextColor;
    transition: $mainTransitionDuration;
    &:hover {
      @include mainHoverLinkStyle;
    }
  }
}

@media screen and (max-width: $tabletScreenResolution) {
  .checkout {
    &__link-shiping {
      display: none;
    }
  }
  .payments {
    &__picture {
      margin-top: 0;
      display: flex;
      flex-direction: column;
    }
    &__credit-card,
    &__delivery {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: $mobileScreenResolution) {
  .payments {
    &__options {
      margin-top: 20px;
    }
  }
}
