@import "cssreset";
@import "header";
@import "choosegifts";
@import "about";
@import "shop";
@import "creators";
@import "ayurvedic";
@import "ayurvedic-description";
@import "contact-us";
@import "footer";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
